.cartUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1000;
  box-shadow: 0px 0px 1000px 1000px rgba(0, 0, 0, 0.644);
  scrollbar-width: none;
  > h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 40%;
    transform: translate(0%, -50%);
    background-color: rgba(255, 60, 0, 0.84);
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 50px;
  }
  > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    min-height: 120px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    > * {
      margin: 0;
    }
    > img {
      max-width: 20%;
      max-height: 100%;
      object-fit: contain;
    }
    > h2 {
      width: 50%;
      font-size: 12px;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 30%;
      width: fit-content;
      font-size: 14px;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        > span {
          margin: 0 10px;
        }
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          > input {
            width: 25px;
            height: 25px;
            pointer-events: none;
            border: 1px solid #00000077;
            outline: none;
            text-align: center;
            margin: 0 5px;
          }
          > span {
            cursor: pointer;
            font-size: 20px;
            color: #000;
            &.minus {
              color: red;
            }
            &.plus {
              color: green;
            }
          }
        }
      }
      > strong {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #000;
      }
    }
    &:first-of-type {
      margin-top: 65px;
    }
  }
  > button {
    width: calc(100% - 20px);
    border: none;
    border-radius: 10px;
    background-color: rgb(99, 165, 0);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
    margin: 10px 0;
    cursor: pointer;
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0); */
    &:hover {
      background-color: rgb(124, 207, 0);
    }
  }
}
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
